.div-itempage {
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .div-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        p {
            font-size: 77px;
            font-family: Adobe Heiti Std;
            font-weight: normal;
            color: #46e8ca;
            opacity: 0.44;
        }
    }

    table {
        width: 80%;
        flex-grow: 1;
        text-align: left;
        color: #2c8b79;
        font-size: xx-large;
        td {
            vertical-align: top;
        }
        #notsamemonth {
            opacity: 50%;
        }
    }
}
